body {
        background: #eee;
    }
#container {
    height: 600px;
}
#route {
    height: 600px;
}
#panel {
    height: 600px;
}

@media (max-width: 959px) {
    #container {
    height: 450px;
    }
    #route {
        height: 450px;
    }
    #panel {
        height: 450px;
    }
}

@media (max-width: 767px) {
    #container {
    height: 300px;
    }

}
.tag {
    position: absolute;
    width: 40px;
    height: 44px;
    color: #e90000;
    background: url("/images/cinema.jpg") no-repeat;
    background-size: 50px 50px;
    border-radius: 20px;
    cursor: pointer;
}
li {
    padding: 0;
    margin: 0;
    border: 0;
}
#map-box, .uk-panel-box {
    background: #fff;
    padding-top: 15px;
}
.blue-font {
    color: #00a8e6;
}

li img {
    width: 160px;
    height: 220px;
}

.uk-grid {
    padding-left: 0;
    margin-left: 0;
}

.uk-grid>* {
    padding-left: 0;
    margin-left: 0;
}
